* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    color: yellow;
}
